= image_tag note.img, class: 'show_note card-img-top center'
#card_body.card-body
  %h5.card-title= link_to(note.name, note)
  %h6.card-subtitle.mb-2= note.summary
  %p.card-text= note.text.to_s.html_safe
  -# = link_to(note.ext_link_name.present? ? note.ext_link_name : note.ext_link, note.ext_link, class: 'btn btn-primary') if note.ext_link.present?
  %ul
    - note.relatives.each do |r_r|
      - next if r_r.child.magical? || r_r.name == nil || r_r.name == ''
      %li
        = link_to "#{r_r.name}: #{r_r.child.name}", notes_path(id: r_r.child.id)
