- # needs to be set up properly
- ignore_list = ['מתוכן']

- card_styles = @note.tags.push('card')
- card_styles.push('private') if @note.is_private
#main{class: card_styles}
  = render('card', note: @note) 
#children
  %table.table
    %tbody
    - @note.relatives.each do |relative|
      - next if relative.child.magical?
      -# binding.pry
      - r_styles = relative.child_tags
      - r_styles.push('private') if relative.child_is_private
      %tr
        %th{class: relative.card_style }
          = relative.name
      %tr{class: relative.card_style }
        %td
          = render('card', note: relative.child) unless ignore_list.include?(relative.name)
      %tr
        %td
          - if relative[:note_id]
            = render('card', note: relative.note)

