= render('layouts/adv_search') if @q
- card_styles = @note.tags.push('card')
- card_styles.push('private') if @note.is_private
#main{class: card_styles}
  = image_tag @note.img, class: 'show_note card-img-top'
  #card_body.card-body
    %h5.card-title= @note.name
    %h6.card-subtitle.mb-2= @note.summary
    %p.card-text= @note.text.to_s.html_safe
    = link_to(@note.ext_link_name.present? ? @note.ext_link_name : @note.ext_link, @note.ext_link, class: 'btn btn-primary') if @note.ext_link.present?
    - if @note.int_link.present?
      = link_to("Download #{@note.int_link}", "/int_files/#{@note.int_link}")
      %br
      = link_to("Launch #{@note.int_link}", exec_int_path(int_file: @note.int_link)) if local_machine?
    %br
    = link_to('read', read_path(@note.id)) if @note.id
    #locations.accordion
    - @note.locations.each_with_index do |location, i|
      - puts 'do locations'
      #card.card{ id: i}
        #heading.card-header{ id: "#{i}" }
          %h5.mb-0
            %button.btn.btn-link.collapsed{ type: 'button', "data-toggle": "collapse", "data-target":"#collapse_#{i}", "aria-expanded": "false", 'aria-controls': "collapse_#{i}", onclick: "var ifr=document.getElementById('collapse_#{i}').getElementsByTagName('iframe')[0]; ifr.src=ifr.src;" }
              = location.name
        #collapse.collapse{ id: "#{i}", "area-labelledby": "heading_#{i}", "data-parent": "#locations" }
          #card.card-body{ id: "#{i}"}

            %iframe{ width: 425, height: 350, frameborder: 0, scrolling: "no",  style: "border: 1px solid black", src: openstreet_src(location)  }
            = link_to 'view larger map', openstreet_href(location)

            %ul
              %li= show_area_datetime(location)
              %li= "latitude #{location.area_latitude.x} - #{location.area_latitude.y}"
              %li= "longitude #{location.area_longitude.x} - #{location.area_longitude.y}"
    = link_to('edit', "/admin/note/#{@note.id}/edit", class: 'btn btn-primary bg-danger text-white') if user_signed_in?
    = link_to('refresh', refresh_path(id: @note.id)) if @note.depends.all.any? || @note.filter_rname.any?
    = link_to('quick refresh', refresh_quick_path(id: @note.id)) if @note.depends.all.any? || @note.filter_rname.any?
  #card_footer.card-footer.bg-info
    %tr
      %td
        = (@note.tags - ['card']).to_s
      %td
        = @note.updated_at

#relatives
  %table.table
    - if @note.id
      %th
        = "sort #{@note.relatives(@sortfield).count}"
        = link_to 'chain', chain_path(id: @note.id)
      %th
        = link_to 'name', notes_path(id: @note.id, sortfield: 'name')
      %th
        = @sortfield
      %th
        = link_to 'summary', notes_path(id: @note.id, sortfield: 'summary')
      %th
        = link_to 'rel name', notes_path(id: @note.id, sortfield: 'rel_name')

    %tbody
      %tr
        %td{colspan: 5}
          -#= select :filter, :select, ['filter'] + @note.relatives.map(&:child_relatives).flatten.map(&:child_name).flatten.uniq.sort.map(&:downcase), {}, {class: 'js-onchange', js_funct: 'showhideSelect', 'js_var': 'filter_select'}
          - puts '@note.relatives.map # for filter'
          = select :filter, :select, ['filter'] + @note.relatives.map(&:card_style).flatten.uniq.sort, {}, {class: 'js-onchange', js_funct: 'showhideSelect', 'js_var': 'filter_select'}
      %tr
        - puts '@note.relatives.map(&:child_id)'
        %td{colspan: 5}
          = @note.relatives.map(&:child_id).sort.to_s
      %tr
        - puts 'starting @note.dependencies_full'
        %td{colspan: 5}
          = @note.depends.full
      - puts 'starting @note.relatives'
      - @note.relatives(@sortfield).each do |relative|
        - puts 'do @note.relatives'
        - relative.child_id = relative.parent_id if relative.child_id == @note.id
        %tr{class: relative.card_style}
          %td.show_note_relative_image{ style: "width: 10%;" }= image_tag relative.child_img_small, class: 'show_note_relative'
          %td= link_to relative.child_name, notes_path(id: relative.child_id), class: 'btn btn-sm btn-light'
          %td= relative.child_text[0..50].html_safe if relative.child_text.present?
          %td= relative.child_summary
          %td
            - if relative.note_id.present?
              = link_to relative.name, notes_path(id: relative.note_id)
            - else
              = relative.name
          %td= link_to 'edit r', "/admin/relationship/#{relative.id}/edit"

