= form.text_field field.method_name, field.html_attributes.reverse_merge({ value: field.form_value, class: 'form-control' })
-#datepicker.input-group.date{'data-provide': 'datepicker-inline'}
-#datepicker
  = form.text_field field.method_name, field.html_attributes.reverse_merge({ value: form.object.x, class: 'form-control' })
  -#iga.input-group-addon
    %span.glyphicon.glyphicon-th
