= javascript_include_tag 'custom_trix' # , 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'custom_trix', media: 'all' # , 'data-turbolinks-track': 'reload'
#trix.field-unit__field
  = form.trix_editor :text
