// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.show_note {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.center {
  text-align: center;
}

img.show_note_relative {
  width: 100%
}
td.show_note_relative_image {
  width: 100%;
}

.private {
  font-style: italic;
}

.hebrew {
  direction: rtl;
  text-align: right;
}

.living-people {
  background-color: #add8e6;
}

.the-rebbis-of-the-rabbonim---multiple {
//.rabbis-with-multiple-talmidim {
  background-color: #90ee90;
}
