#search
  %form{action: 'search_results'}
    = text_field :search, :latitude, placeholder: 'latitude'
    = text_field :search, :longitude, placeholder: 'longitude'
    = text_field :search, :elevation, placeholder: 'elevation (in meters)'
    = text_field :search, :date, placeholder: 'date'
    = text_field :search, :time, placeholder: 'time'
    = submit_tag 'Search'

