-#adv_search_container.container
  #the_row.row
    #md12.col-md-12
      #adv-search.input-group
        %input.form-control{type: 'text', placeholder: 'search'}
        #ig.input-group-text
          #bg.btn-group{role: 'group'}
            #dd.dropdown.dropdown-lg
              %button.btn.dropdown-toggle{'data-toggle': 'dropdown', 'aria-expanded':'false'}
                #ddmenu.dropdown-menu.dropright{role: 'menu'}
                  %form{role: 'form'}
                    #fg_name.form-group
                      %label{'for': 'contain'} Name
                      %input.form-control{type: 'text'}
              %button.btn.btn-primary{type: 'button'}
                %span.glyphicon.glyphicon-search{'aria-hidden': 'true'}

= search_form_for @q do |f|
  -#search_form_row.row
    #search_form_row_col1.col
      = f.label :name_cont
      = f.search_field :name_cont # , placeholder: 'Search for a Note name'
    #search_from_row_col2.col
      = f.submit 'Search', class: 'btn btn-sm'
  #search_form_row.row
    #search_form_row_col3.col
      #adv_search_container.accordion
        #card.card
          #heading.card-header
            %button.btn.btn-sm.collapsed{ type: 'button', "data-toggle": "collapse", "data-target":"#adv_search", "aria-expanded": "false", 'aria-controls': "adv_search" }
              = 'Search'
          #adv_search.collapse{"area-labelledby": "heading", "data-parent": "#adv_search_container" }
            #card.card-body
              = search_form_for @q do |f|
                = f.search_field :name_cont_all, class: 'form-control', placeholder: 'Search for a Note name'
                %br/
                = f.search_field :summary_cont_all, class: 'form-control', placeholder: 'Search by summary'
                %br/
                = f.search_field :text_cont_all, class: 'form-control', placeholder: 'Search inside Note text'
                %br/
                = f.search_field :locations_name, class: 'form-control', placeholder: 'Search for a Location name'
                %br/
                = f.submit 'Search', class: 'btn btn-sm'
                %br/
                = link_to 'Search for a location', locations_search_path, class: 'btn btn-sm'
              %form{action: 'search_nekud'}
                = text_field :nikud_search, :word, placeholder: 'search nikud text'
                = text_field :nikud_search, :name, placeholder: 'name'
                = submit_tag 'Search'
