!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @note ? @note.name + ' - ZapafuUg' : 'ZapafUg'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all' # , 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application' # , 'data-turbolinks-track': 'reload'
  %body
    %header
      #header.container-fluid
        %p.notice= notice
        %p.alert= alert
    #page.container
      = yield
